<h1>Editing Employee</h1>
  <%= form_tag employee_path(@employee&.dig("id")), method: :put do %>
    <%= render 'form', employee: @employee %>
  <% end %>
  <%= link_to "Back", employees_path %>
</div>