<div class="container">
  <h1>New Employee</h1>
  <%= form_tag employees_path, method: :post do %>
    <%= render 'form', employee: @employee %>
  <% end %>
  <%= link_to "Back", employees_path %>
</div>